extends base-layout

block content
  h1 matt austin

  .jumbotron
    h1 i take pictures!
    a.btn.btn-primary.btn-lg(href='http://photos.mattaust.in', role='button') Look at them.

  .jumbotron
    h1 i write words!
    a.btn.btn-primary.btn-lg(href='/blog', role='button') Read them.